"*":
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
    titleBar: "hidden"
  "file-icons":
    onChanges: true
  "markdown-preview-enhanced":
    enableTypographer: true
    previewPanePosition: "down"
    previewTheme: "one-dark.css"
    revealjsTheme: "beige.css"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "lens-mode": true
      "lens-modeDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "title-bar-replacer":
    general:
      altGivesFocus: false
      menuBarMnemonics: false
  welcome:
    showOnStartup: false
