"*":
  "atom-clock":
    dateFormat: "HH:mm - DD:MM:YYYY"
    locale: "de"
    showClockIcon: true
  "atom-material-ui":
    colors:
      abaseColor: "#00e1cc"
      accentColor: "#009486"
  "auto-update-plus":
    intervalMinutes: 15
    notificationStyle: "Info"
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  editor:
    preferredLineLength: 8000
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "file-icons":
    onChanges: true
  "markdown-preview-enhanced":
    enableHTML5Embed: true
    enableScriptExecution: true
    enableZenMode: true
    previewPanePosition: "down"
    previewTheme: "one-dark.css"
    singlePreview: false
  minimap:
    absoluteMode: true
    adjustMinimapWidthOnlyIfSmaller: false
    minimapScrollIndicator: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "lens-mode": true
      "lens-modeDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
    smoothScrolling: true
  "minimap-autohider":
    TimeToHide: 7500
    TransitionDuration: 250
  "project-manager":
    includeGitRepositories: true
  script:
    cwdBehavior: "Directory of the script"
  "spell-check":
    locales: [
      "de-CH"
    ]
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
