"*":
  "atom-clock":
    dateFormat: "HH:mm - DD:MM:YYYY"
    locale: "de"
    showClockIcon: true
    showTooltip: true
  "atom-material-ui":
    colors:
      abaseColor: "#00e1cc"
      accentColor: "#009486"
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  editor:
    scrollPastEnd: true
    tabLength: 4
  "file-icons":
    onChanges: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview-enhanced":
    enableHTML5Embed: true
    enableScriptExecution: true
    previewPanePosition: "down"
    previewTheme: "one-dark.css"
    singlePreview: false
  minimap:
    scrollAnimation: true
  "spell-check":
    locales: [
      "de-CH"
    ]
  "tree-view":
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
