'.platform-win32, .platform-linux':
  'f4': 'window:toggle-left-dock'
  'f6': 'window:toggle-right-dock'
  'f5': 'window:toggle-bottom-dock'
  'alt-shift-O': 'project-manager:list-projects'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-c': 'editor:toggle-line-comments'
'atom-text-editor':
  'f12': 'markdown-preview-enhanced:toggle-zen-mode'
'.platform-win32 atom-text-editor':
  'f3': 'bookmarks:toggle-bookmark'
